otp_path: "C:/Program Files/Erlang OTP"
apps_dirs:
  - "_build/default/lib/*"
include_dirs:
  - "_build/default/lib/*/include"
  - "include"
diagnostics:
  enabled:
    - crossref
include_dirs:
  - "ghs/src"
  - "include"
  - "_build/default/lib"
lenses:
  enabled:
    - ct-run-test
providers:
  enabled:
    - signature-help
