{erl_opts, [no_debug_info]}.
{deps, []}.
% {deps, [
%     {eqwalizer_support,
%         {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
%             "eqwalizer_support"}}
% ]}.
% {project_plugins, [
%     {eqwalizer_rebar3,
%         {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
%             "eqwalizer_rebar3"}}
% ]}.
{escript_incl_apps, [ghs]}.
{escript_main_app, ghs}.
{escript_name, ghs}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.
